.allTimeData {
  grid-area: ath;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 200px;
  background: white;

  opacity: 0;
  border: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  transform: translateY(8%);
  animation: delayLoading 1s forwards;
  animation-delay: 3.5s;
}

@keyframes delayLoading {
  0% {
    transform: translateY(8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.allTimeData-header {
  text-align: center;
}

.allTime-data-container {
  display: flex;
  height: 90%;
}

.allTimeData-item {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
}

.allTimeData-item:first-child {
  color: green;
}
.allTimeData-item:last-child {
  color: red;
}

.ath {
  color: black;
}
.atl {
  color: black;
}
