.mobileNav {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50%;
  width: 100%;
  background: rgb(255, 255, 255) !important;
  z-index: 100;
}
