.initializing-container {
  /* Positioning */
  position: fixed;
  top: 50%;
  left: 50%;

  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  /* Color */
  color: rgb(0, 0, 0);

  /* Text */
  letter-spacing: 0.3rem;
  font-weight: bolder;

  /* Other */
  animation: initialize 2s ease-in forwards;
}

@keyframes initialize {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.initializing-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0, 0.65);

  letter-spacing: 0.3rem;
  font-weight: bolder;

  z-index: 1000;
  animation: initializeRotation 2s ease-in forwards;
}

@keyframes initializeRotation {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    border-top: 3px solid rgb(0, 0, 0, 0.65);
    border-bottom: 3px solid black;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
    border-top: 3px solid rgb(0, 0, 0, 0.65);
    border-bottom: 3px solid rgb(0, 0, 0, 0.65);
  }
}

.initializing-letter {
  animation: animateInitializingLetters 2s forwards;
}
@keyframes animateInitializingLetters {
  0% {
    color: black;
  }
  100% {
    color: grey;
  }
}

.initializing-dot-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 15%;
  height: 8%;
}

.initializing-dot {
  background-color: black;
  height: 0.7rem;
  width: 0.7rem;
  animation: initializing-dot 1s infinite;
}

@keyframes initializing-dot {
  0% {
    transform: rotate(0);
    background-color: black;
  }
  100% {
    transform: rotate(360deg);
    background-color: grey;
  }
}
