.barChart {
  grid-area: barchart;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 27px 14px -15px rgba(0, 0, 0, 0.46);
  background: rgb(255, 255, 255);
  opacity: 0;
  animation: delayLoading 1s forwards;
  animation-delay: 3.8s;
}

@keyframes delayLoading {
  0% {
    transform: translateY(8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
