.barChart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgb(126, 126, 126);
  background: rgb(245, 245, 245, 0.8);

  border-radius: 12px;
}

.chartjs-render-monitor {
  height: 100%;
}
