.authentication {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  height: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
}

.authentication-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50% 50%;
  background: whitesmoke;
  cursor: pointer;
  opacity: 0;
  animation: authClose 1s ease-in forwards;
}

.authentication-close:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 3%,
    rgb(255, 255, 255, 0.6) 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

@keyframes authClose {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-300%);
    opacity: 1;
  }
}

.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 55%;
}

.authentication-input {
  width: 50%;
  padding: 10px;
  outline: none;
}

.authentication-google {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1px;
  width: 50%;
  cursor: pointer;
  border: 1px solid rgb(100, 100, 100);
}

.authentication-google-logo {
  width: 3.3em;
  margin-left: 2%;
}
