.authentication {
  /* Positioning */
  position: absolute;
  top: 50%;
  left: 50%;

  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid black;
  height: 50%;
  width: 40%;
  transform: translate(-50%, -50%);

  /* Color */
  background: rgb(245, 245, 245);

  /* Text */

  /* Other */
}

.authentication-close {
  position: absolute;
  top: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50% 50%;

  background: whitesmoke;

  cursor: pointer;
  opacity: 0;
  animation: authClose 1s ease-in forwards;
}

.authentication-close:hover {
  width: 2.7rem;
  height: 2.7rem;
}

@keyframes authClose {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-300%);
    opacity: 1;
  }
}

.authentication-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 55%;
}

.authentication-input {
  width: 50%;
  padding: 10px;
  border: 1px solid rgb(100, 100, 100);
  box-sizing: border-box;

  outline: none;
}

.authentication-google {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 1px;
  width: 50%;
  border: 1px solid rgb(100, 100, 100);

  color: rgb(0, 0, 0);

  text-decoration: none;

  cursor: pointer;
}

.authentication-google-logo {
  width: 3.3em;
  margin-left: 2%;
}

/* Media quieries */

@media only screen and (max-width: 1100px) {
  .authentication {
    width: 50%;
    height: 65%;
  }
}
@media only screen and (max-width: 973px) {
  .authentication {
    width: 100%;
  }
}
