.pieChart {
  /* Position */
  position: relative;

  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48%;
  border-top: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);

  /* Color */
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.77);

  /* Text */

  /* Other */
}

.pieChart-title-container {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 30%;
  border: 1px solid rgb(0, 0, 0, 0.66);
  border-bottom: none;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.3) 3%,
    rgb(255, 255, 255, 0.6) 60%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

/* app-pieChart */
.pieChartContainer {
  display: flex;
  justify-content: space-between;
  height: 40%;
  width: 94%;
  margin: 3%;

  opacity: 0;
  animation: delayLoading 1s forwards;
  animation-delay: 4.1s;
}
