.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(126, 126, 126);
  min-height: 8vh;
  transform: translateY(-15%);
  background: rgb(255, 255, 255);
}

.searchbar-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 2%;
  border-radius: 25px;
  padding: 3px;
  border: 1px solid rgb(126, 126, 126);
}

.searchbar-input {
  width: 90%;
  padding: 1px;
  border: none;
  outline: none;
}

.searchbar-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}

.searchbar-menu-icon-container {
  display: none !important;
  margin-right: 3%;
}

@media only screen and (max-width: 1100px) {
  .searchbar-menu-icon-container {
    display: inline !important;
  }
  .searchbar-icons-container {
    display: none !important;
  }
}
