.searchbar {
  /* Position */

  /* Display & Box Model */
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(126, 126, 126);
  min-height: 8vh;
  transform: translateY(-15%);

  /* Color */
  background: rgb(255, 255, 255);

  /* Text */

  /* Other */
  opacity: 0;
  animation: delayLoading 1s forwards;
  animation-delay: 1s;
}

@keyframes delayLoading {
  0% {
    transform: translateY(8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.searchbar-form {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 2%;
  border-radius: 25px;
  padding: 3px;
  border: 1px solid rgb(126, 126, 126);
}

.searchbar-input {
  width: 90%;
  padding: 1px;
  border: none;
  outline: none;
}

.searchbar-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
}

.searchbar-menu-icon-container {
  display: none !important;
  margin-right: 3%;
}

@media only screen and (max-width: 1100px) {
  .searchbar-menu-icon-container {
    display: inline !important;
  }
  .searchbar-icons-container {
    display: none !important;
  }
}
