.table {
  position: relative;
  max-height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(126, 126, 126);
  background: rgb(245, 245, 245, 0.8);
  overflow-y: scroll;
}

.table::-webkit-scrollbar {
  width: 0 !important;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

table {
  width: 100%;
}

thead {
  font-size: 0.8rem;
}

thead,
tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0;
}

.table-column {
  width: 100%;
  padding: 5px 0;
}

tbody {
  border: 2px solid red !important;
  z-index: 100;
}

/* tableRow */
.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid rgb(202, 196, 196);
  border-top: 1px solid rgb(202, 196, 196);
  font-size: 0.8rem;
  cursor: pointer;
}

.tableRow:hover {
  background: rgb(51, 77, 80, 0.6);
  color: white;
}
.tableRow-active {
  background: rgb(44, 44, 44, 0.6);
  color: white;
}

.coinSymbol {
  width: 25px;
}

.dailyLow {
  color: red;
}
.dailyHigh {
  color: green;
}

@media only screen and (max-width: 850px) {
  .table {
    margin: 0;
    width: 100%;
    border: none;
  }
}
