.table {
  margin: 3%;
  min-width: 94%;
  border: 1px solid rgb(126, 126, 126);
  opacity: 0;
  box-shadow: 21px 2px 14px -15px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 21px 2px 14px -15px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 21px 2px 14px -15px rgba(0, 0, 0, 0.46);
  animation: delayLoading 1s forwards;
  animation-delay: 4.4s;
  opacity: 0;
}

@keyframes delayLoading {
  0% {
    transform: translateY(8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.table-header,
tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2% 0;
}

.table-column {
  width: 100%;
}

/* tableRow */
.tableRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  min-height: 45px;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(202, 196, 196);
}

.coinSymbol {
  width: 25px;
}

.dailyLow {
  color: red;
}
.dailyHigh {
  color: green;
}

@media only screen and (max-width: 850px) {
  .table {
    margin: 0;
    width: 100%;
    border: none;
  }
}
