.newsCard {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin: 0 1%;
  cursor: pointer;
  border: 1px solid lightgrey;
  box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);
}

.newsCard-image {
  object-fit: contain;
  width: 100%;
  border-radius: 25px 0 25px 0;
}

.newsCard-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
