.newsCard {
  /* Positioning */
  position: relative;

  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  margin: 0 1%;
  border-radius: 25px;
  box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 28px 15px -18px rgba(0, 0, 0, 0.75);

  /* Color */

  /* Text */
  font-size: 0.9rem;

  /* Other */
  cursor: pointer;
  animation: delayLoading 1s forwards;
  opacity: 0;
  animation-delay: 4.4s;
}

@keyframes delayLoading {
  0% {
    transform: translateY(8%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.newsCard-overlay {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  border-radius: 25px 0 25px 0;

  background: rgba(0, 0, 0, 0.77);

  opacity: 0;
}

.newsCard-overlay:hover {
  opacity: 1;
}

.newsCard-overlay-read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  color: rgb(255, 255, 255);

  font-size: 1.5rem;
}

.newsCard-title {
  padding: 12px;

  text-align: center;
}

.newsCard-image {
  width: 100%;
  border-radius: 25px 0 25px 0;

  object-fit: contain;
}

/* news card */

.app-newsCard-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  height: 100%;
  margin: 3%;
}

.app-newsCard-header-container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

  text-align: center;
}

.app-newsCard-header-break {
  height: 10px;
  width: 20%;
  margin-top: 7%;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 6%,
    rgba(207, 207, 207, 1) 97%,
    rgba(255, 255, 255, 1) 100%
  );

  animation: break 3s ease-in-out infinite alternate-reverse;
}

@keyframes break {
  0% {
    width: 20%;
  }
  100% {
    width: 80%;
  }
}

.app-newsCard-header {
  color: rgba(0, 0, 0, 0.77);

  font-size: 3rem;
}

.app-newsCard-link {
  color: rgb(0, 0, 0);
}
