* {
  margin: 0;
  padding: 0;
}

.app-content {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100vw;
  height: 100%;
  width: 85%;
}

.icon {
  font-size: 2rem !important;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.icon:hover {
  animation: icon 2s infinite ease-in-out alternate-reverse;
}

@keyframes icon {
  0% {
    transform: rotate();
  }
  0% {
    transform: rotate(360deg);
  }
}

/* Data-card-container */
.app-datacard-container {
  display: flex;
  justify-content: space-between;
  margin: 3%;
}
.app-graph-bar-container {
  min-height: 58%;
  margin: 3%;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "linegraph linegraph ath ath"
    "linegraph linegraph ath ath"
    "linegraph linegraph ath ath"
    "linegraph linegraph ath ath"
    "linegraph linegraph barchart barchart";
}

/* news card */
.app-newsCard-container {
  height: 100%;
  margin: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
}

.app-newsCard-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  position: relative;
}

.app-newsCard-header-break {
  margin-top: 7%;
  height: 10px;
  width: 20%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 6%,
    rgba(207, 207, 207, 1) 97%,
    rgba(255, 255, 255, 1) 100%
  );
  animation: break 3s ease-in-out infinite alternate-reverse;
}

@keyframes break {
  0% {
    width: 20%;
  }
  100% {
    width: 80%;
  }
}

.app-newsCard-header {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.77);
}

.app-newsCard-link {
  color: black;
}

/* SignUpModal */
.app-authentication-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.77);
  z-index: 100;
}

@media only screen and (max-width: 1100px) {
  .app-content {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .app-graph-bar-container {
    grid-template-areas:
      "linegraph linegraph linegraph linegraph"
      "linegraph linegraph linegraph linegraph"
      "linegraph linegraph linegraph linegraph"
      "ath ath ath ath"
      "barchart barchart barchart barchart";
  }
}
