* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
}

body {
  overflow-x: hidden;
}

.App {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  padding: 1%;
  background: rgb(197, 196, 196);
}

.icon {
  font-size: 2rem !important;
  cursor: pointer;
}

.app-left-container {
  width: 40%;
}

.app-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1%;
  width: 60%;
}
.app-flex-container-top {
  display: flex;
  width: 100%;
}
.app-flex-container-bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .App {
    flex-direction: column-reverse;
  }

  .app-right-container {
    width: 100%;
  }
  .app-left-container {
    padding: 1%;
    width: 100%;
  }
  .app-flex-container-top {
    flex-direction: column;
  }
  .app-flex-container-bottom {
    flex-direction: column-reverse;
  }
}
