* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
}

.App {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 100vw;
  padding: 1%;
  background-color: #101013;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(180, 0%, 100%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(225, 0%, 100%) 0, transparent 55%);
  overflow: hidden;
}

.icon {
  font-size: 2rem !important;
  cursor: pointer;
}

.app-left-container {
  padding: 1%;
  width: 40%;
}

.app-right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
  width: 60%;
}
.app-flex-container-top {
  display: flex;
  height: 35%;
  width: 100%;
}
.app-flex-container-bottom {
  display: flex;
  justify-content: space-between;
  height: 52%;
  width: 100%;
}
