.dataCard {
  min-width: 23%;
  min-height: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.77);
  border: 1px solid rgb(126, 126, 126);
  box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 7px 14px -2px rgba(0, 0, 0, 0.46);
}

.dataCard-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.dataCard-header {
  width: 100%;
}

.dataCard-info {
  font-size: 1.6rem;
  grid-area: info;
}

.dataCard-arrow-icon {
  font-size: 1.3rem !important;
  color: green;
  grid-area: icon;
}

.dataCard-high {
  animation: colorchangehigh 1s ease-in-out infinite alternate-reverse;
}
.dataCard-low {
  animation: colorchangelow 1s ease-in-out infinite alternate-reverse;
}

@keyframes colorchangehigh {
  0% {
    color: rgba(0, 0, 0, 0.77);
  }
  100% {
    color: green;
  }
}
@keyframes colorchangelow {
  0% {
    color: rgba(0, 0, 0, 0.77);
  }
  100% {
    color: red;
  }
}

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading-dot {
  height: 9px;
  width: 9px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.77);
  margin: 0 1.2%;
}

.loading-dot:first-child {
  animation: loading1 2s ease-in-out infinite;
}

.loading-dot:nth-child(2) {
  animation: loading2 2s ease-in-out infinite;
}
.loading-dot:nth-child(3) {
  animation: loading2 2s ease-in-out infinite;
}

@keyframes loading1 {
  0% {
  }

  35% {
    transform: translateY(-7px);
  }
}
@keyframes loading2 {
  0% {
  }

  70% {
    transform: translateY(-7px);
  }
}
@keyframes loading3 {
  0% {
  }

  95% {
    transform: translateY(-7px);
  }
}
